// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;

$screen-xs:                   0 !default;
$screen-sm:                   480px !default;
$screen-md:                   768px !default;
$screen-lg:                   992px !default;
$screen-xl:                   1200px !default;
$screen-xxl:                  1800px !default;

$menu-desktop-width:          $screen-xl !default;
$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

$transition-time:             0.3s !default;

.main-nav {
  $block-name:                &; // #{$block-name}__element

  // первый уровень
  &__list {
    position: relative;
    z-index: 2;
    margin-top: 20px;
    padding: 0;
    width: 100%;
    list-style: none;
    text-align: center;

    // мобильный вид списка
    @media (max-width: ($menu-desktop-width - 1)) {

      // открытие/закрытие меню только в случае работающего JS

      .js & {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s;
      }

      .js #{$block-name}--open & {
        max-height: 100vh;
        transition: max-height 0.6s;
      }
    }

    // настольный вид списка
    @media (min-width: $menu-desktop-width) {
      position: initial;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;

    @media (min-width: $menu-desktop-width) {
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    text-decoration: none;
    color: #000;

    @media (min-width: $menu-desktop-width) {

      &--active {

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: $color-main;
        }
      }
    }

    &:hover,
    &:focus {
      color: $color-main;
      outline-color: $color-main;
    }
  }



  // переключатель

  &__toggler {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;

    .no-js & {
      display: none;
    }

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }
}
