// В этом файле должны быть стили для БЭМ-блока subscribeUs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.subscribeUs {

  $block-name:                &; // #{$block-name}__element
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $color-main;

  @media (min-width: ($screen-xl)) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__wrapper {
    text-align: center;
  }

  &__title {
    margin: 0;
  }

  &__sub-title {
    margin-top: 10px;
    font-size: 18px;
  }

  &__form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
