// В этом файле должны быть стили для БЭМ-блока search-module, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.search-module {
  $block-name:                &; // #{$block-name}__element
  position: relative;
  padding-top: 40px;

  &__wrapper {
    text-align: center;
  }

  &__title {
    position: relative;
    z-index: 2;
    margin: 0;
    text-align: center;
    color: #fff;
  }

  &__text {
    position: relative;
    z-index: 2;
    margin-top: 10px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
  }

  &__search {
    position: relative;
    z-index: 2;
    margin-top: 30px;
  }
}

.ruspo {
  background: #fff !important;
}

.ruspo-sponsor {
  display: none;
}

.ruspo-results {
  background: #fff !important;
}

.ruspo-results-main {
  overflow: hidden;
}

.ruspo-results {
  min-width: initial !important;
}

.ruspo-results-pager {
  float: none !important;
  margin-bottom: 20px !important;
}

.ruspo-results-amount {
  margin-top: 20px !important;
}

.ruspo-results-foot {
  height: auto !important;
}
