.page-about {

  &__top-wrapper {
    position: relative;
    z-index: 2;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__title {
    margin: 0;
    color: #fff;
    font-size: 40px;
  }

  &__text {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
  }
}
