// В этом файле должны быть стили для БЭМ-блока owl-carousel, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.owl-carousel {
  position: relative;
  z-index: 2;

  & img {
    background-size: cover;
  }

  &__item {
    position: relative;
    z-index: 1;
  }

  & .item-wrapper {
    position: absolute;
    right: 0;
    bottom: 60px;
    z-index: 2;
    color: #fff;

    @media (min-width: ($screen-xl)) {
      bottom: 100px;
    }
  }

  & .item-title {
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;

    @media (min-width: ($screen-xl)) {
      padding: 10px 27px;
      max-width: 535px;
      font-size: 32px;
    }

    &--blue {
      color: $color-main;
      background-color: #fff;
    }

    &--orange {
      color: rgb(239, 124, 0);
      background-color: #fff;
    }
  }

  & .item-text {
    padding: 10px;
    font-size: 14px;
    font-weight: 500;

    @media (min-width: ($screen-xl)) {
      padding: 10px 27px;
      max-width: 535px;
      font-size: 20px;
      line-height: 22px;
    }

    &--blue {
      color: #fff;
      background-color: $color-main;
    }

    &--orange {
      color: #fff;
      background-color: rgb(239, 124, 0);
    }
  }
}

.owl-prev {
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  font-size: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  transform: rotate(-180deg);
}
.owl-next {
  position: absolute;
  top: 50%;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
}
